SECRET_KEY=your-secret-key-here

EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-app-password-here

GOOGLE_CLIENT_ID=123456789012-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
BASE_URL=http://website.domain